extends layout

block variables
  -
    const skills = [
      {
        name: '左右反転',
        value: 'flip_h',
      },
      {
        name: '上下反転',
        value: 'flip_v',
      },
      {
        name: '上下左右反転',
        value: 'flip_vh'
      }
    ]

block content
  main
    h1 アンティのスキル
    .skills
      - for (let i = 0; i < skills.length; i++) {
        .skill(
          onClick=`sendSkill('${skills[i].value}')`
        )= skills[i].name
      - }

